$fontMain: 'Open Sans', sans-serif;
$colorText: #7A7A7A;
$colorTitle: #000;
$colorSlogan: #999999;
$colorInput: #1C1C1C;
$colorSuccess: #0AD9C6;
$colorError: red;
$mobile: 1024px;
$mobile-sm: 768px;
$mobile-xs: 560px;